.custom-radios div {
  display: inline-block;
}
.custom-radios input[type="radio"] {
  /*display: none;*/
}
.custom-radios input[type="radio"] + label {
  color: #333;
  font-size: 14px;
}
.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radios input[type="radio"] + label span img {
  opacity: 0;
  transition: all .3s ease;
}
.custom-radios input[type="radio"]#finpaycode + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#transfer + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#transferVirtualAcc + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#visa + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#cicilan + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#dana + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#bcaKlikPlay + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#mandiriKlikPlay + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#mandiriEcash + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#cimb + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#indomaret + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#alfamart + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]#pos + label span {
  background-color: #ff9800;
}
.custom-radios input[type="radio"]:checked + label span {
  opacity: 1;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) center center no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;

}